{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h2>Profile</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row profile">
      {% include 'profile/sidepanel.html' %}
      <div class="col-md-9">
        <div class="profile-content">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}<br>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
