{% extends 'provider/base/base.html' %}

{% block content %}
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top-text header-text">
          <h2>Volunteer Assigned List</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Volunteer Assigned List</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Event Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">End Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                {% for list in requested_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{{list.user.profile_pic.url}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{list.user.first_name}} {{list.user.last_name}}</h6>
                          <p class="text-xs text-secondary mb-0">{{list.user.email}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0">{{list.event.title}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{list.event.start_date}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{list.event.end_date}}</p>
                      </td>
                    <td class="align-middle text-center text-sm">
                      <form method="post" action="/event/provider/remove/assign/process/">
                        {% csrf_token %}
                        <input type="hidden" value={{list.id}} name="request_id">
                        <button type="submit" class="badge badge-sm bg-gradient-success">Remove</button>
                      </form>
                      <a href="/event/provider/event/{{list.event.id}}/"><span class="badge badge-sm bg-gradient-success">View</span></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}